.footer {
    font-size: 10px;
    left: 0;
    bottom: 0;
    text-align: left

}

.titlemain {
    text-align: left;
    font-size: 16px;
}

.subtitlemain {
    text-align: left;
    font-size: 10px;
}

img {
    border: none!important;
}